body{
    background-image:url("Images/background2.jpg");
    background-size:cover;
}

img {
    display: block;
    width: 100%;
    height: auto;
  }

.container{
    top:50px;
    position: relative;
}

.jumbotron{
    background-color:white !important;
}

.shadow{
    text-shadow:2px 2px 5px grey;
}

img:hover{
    box-shadow:grey;
}

.buttbar{
    position:fixed;
    right:0px;
    top:300px;
    z-index:99;
    width:150px;
}

.buttbar-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.3EM;
    font-weight:bold;
    text-align:center;
}

.panelbody{
    height:100px;
}